.weather-page-container {
  padding: 0;

  .today-weather {
    padding: 32rpx 32rpx 48rpx;
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;

    .now-weather {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: white;
      box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.1);
      border-radius: 30rpx;
      animation: showItem 3s ease;
      box-sizing: border-box;
      padding-bottom: 32rpx;

      .main-image {
        border-radius: 30rpx 30rpx 0 0;
        width: 100%;
        position: relative;

        .main-content {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 32rpx;

          &.rainy {
            color: #30434B;
          }

          &.hot {
            color: #ff6131;
          }

          &.brezzy {
            color: #52AFEC;
          }

          &.cloudy {
            color: #03ad44;
          }

          &.snow {
            color: #1fa5c7;
          }

          .location {
            display: block;
            font-size: 32rpx;
            text-align: center;
          }

          .weather-title {
            font-size: 80rpx;
            text-align: center;
            font-weight: bold;
          }

        }

        .subscribe-btn {
          position: absolute;
          bottom: 88rpx;
          right: 32rpx;
          padding: 12rpx 28rpx;
          width: auto;
          background-color: white;
          font-size: 28rpx;
          box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.1);
          border-radius: 30rpx;
          opacity: 0;
          transform: translateX(110%);
          animation: showSubBtn 2s forwards 1.5s;
          
          &.button-hover {
            background-color: #f1f1f1;
          }

          &.rainy {
            color: #30434B;
          }

          &.hot {
            color: #FD8D3D;
          }

          &.brezzy {
            color: #52AFEC;
          }

          &.cloudy {
            color: #03ad44;
          }

          &.snow {
            color: #1fa5c7;
          }
        }

        .caption-box {
          position: absolute;
          top: 0;
          width: 100%;
          padding-top: 32rpx;

          &.rainy {
            color: #30434B;
          }

          &.hot {
            color: #FD8D3D;
          }

          &.brezzy {
            color: #52AFEC;
          }

          &.cloudy {
            color: #03ad44;
          }

          &.snow {
            color: #1fa5c7;
          }

          .caption-text {
            opacity: 0;
            animation: captionMove infinite linear;

            &:nth-child(2) {
              animation-delay: 2s;
            }

            &:nth-child(2n) {
              animation-duration: 5.5s
            }

            &:nth-child(3n+1) {
              animation-delay: 4s;
            }

            &:nth-child(2n+1) {
              animation-duration: 7.5s
            }

          }
        }
      }

      .weather-info-box {
        display: flex;
        width: 100%;
        padding: 32rpx 32rpx 0;

        .tmp-box {
          position: relative;
          width: 40%;
          display: flex;
          flex-direction: column;
          padding: 0 32rpx;

          .border-line-box {
            height: 70px;
            overflow: hidden;

            .border-line-wrapper {
              width: 100%;
              padding: 20rpx;
              border-radius: 50%;
              box-sizing: border-box;

              .border-line {
                width: 100%;
                padding-bottom: 100%;
                background-color: white;
                border-radius: 50%;
              }
            }
          }

          .now-tmp {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100rpx;
            text-align: center;
          }

          .tmp-max-min {
            display: flex;
            justify-content: space-between;
            font-size: 40rpx;

            .tmp-max,
            .tmp-min {
              display: flex;
              align-items: center;
            }

            .tmp-min {
              justify-content: flex-end;
            }

            .tmp-icon {
              width: 40rpx;
              height: 40rpx;
            }
          }
        }

        .tmp-details {
          width: 60%;
          padding: 0 32rpx;
          border-left: 1px solid #fff0c7;

          .detail-item {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #fff0c7;
            padding-bottom: 6rpx;
            padding-top: 6rpx;
          }
        }

        &.rainy {
          color: #30434B;
          .border-line-wrapper {
            background: linear-gradient(90deg, #30434B 20%, #2900e0 100%);
          }
          .tmp-max {
            color: #2900e0;
          }
          .tmp-min {
            color: #30434B;
          }
        }

        &.hot {
          color: #FD8D3D;
          .border-line-wrapper {
            background: linear-gradient(90deg, #ffc525 20%, #ff4b2c 100%);
          }
          .tmp-max {
            color: #ff4b2c;
          }
          .tmp-min {
            color: #ffc525;
          }
        }

        &.cloudy {
          color: #03ad44;
          .border-line-wrapper {
            background: linear-gradient(90deg, #649834 20%, #ffc525 100%);
          }
          .tmp-max {
            color: #ffc525;
          }
          .tmp-min {
            color: #649834;
          }
        }

        &.brezzy {
          color: #52AFEC;
          .border-line-wrapper {
            background: linear-gradient(90deg, #52AFEC 20%, #649834 100%);
          }
          .tmp-max {
            color: #649834;
          }
          .tmp-min {
            color: #52AFEC;
          }
        }

        &.snow {
          color: #1fa5c7;
          .border-line-wrapper {
            background: linear-gradient(90deg, #57BAD1 20%, #38d7ff 100%);
          }
          .tmp-max {
            color: #38d7ff;
          }
          .tmp-min {
            color: #57BAD1;
          }
        }
      }
    }

    .canvas-box {
      margin-top: 48rpx;
      box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.1);
      border-radius: 30rpx;
      background-color: white;
      box-sizing: border-box;
      width: 100%;
      height: 500rpx;
      opacity: 0;
      animation: showItem 3s ease 1s forwards;

      #line-chart {
        width: 100%;
        height: 500rpx;
      }
    }

  }

  .swiper-view-weather {
    width: 100%;
    white-space: nowrap;

    .weather-view-item {
      display: inline-block;
      box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.1);
      border-radius: 30rpx;
      background-color: white;
      box-sizing: border-box;
      margin: 0 32rpx 32rpx;
      opacity: 0;
      align-items: center;
      justify-content: center;
      animation: showItem 3s ease 2s forwards;

      .item-inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .item-date-name {
          text-align: center;
          padding-bottom: 32rpx;
          color: darkgrey;
        }

        .item-tmp-img {
          position: relative;
          width: 350rpx;
          height: 300rpx;
          border-radius: 30rpx 30rpx 0 0;

          .tmp-txt {
            position: absolute;
            bottom: 32rpx;
            left: 32rpx;
            font-size: 50rpx;

            &.rainy {
              color: #30434B;
            }

            &.hot {
              color: #FD8D3D;
            }

            &.brezzy {
              color: #52AFEC;
            }

            &.cloudy {
              color: #03ad44;
            }

            &.snow {
              color: #1fa5c7;
            }
          }
        }

        .tmp-max-min {
          display: flex;
          justify-content: space-between;
          padding: 32rpx 32rpx 0;
          width: 100%;
          box-sizing: border-box;

          .tmp-max,
          .tmp-min {
            display: flex;
            align-items: center;
          }

          .tmp-value {
            font-size: 50rpx;

            &.high {
              color: #ff5e00;
            }

            &.low {
              color: #52AFEC; 
            }
          }

          .tmp-icon {
            flex: none;
            width: 38rpx;
            height: 48rpx;
          }
        }
      }
    }
  }
}

@keyframes downIcon {
  0% {
    transform: translateY(0px) rotate(-90deg);
  }

  50% {
    transform: translateY(20rpx) rotate(-90deg);
  }

  100% {
    transform: translateY(0px) rotate(-90deg);
  }
}

@keyframes showItem {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes captionMove {
  from {
    opacity: 1;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(-100%);
  }
}

@keyframes showSubBtn {
  from {
    opacity: 0;
    transform: translateX(110%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}