.my-page-container {
  padding: 0;

  .my-box {
    position: relative;
    width: 100%;

    image {
      width: 100%;
    }

    .title {
      position: absolute;
      top: 24rpx;
      left: 80rpx;
      line-height: 1.5;
      font-size: 64rpx;
      font-weight: bold;
      color: white;
    }
  }
  
  .attr-list {
    padding: 0 32rpx;
    .my-attr {
      position: relative;
      width: 100%;
      border-radius: 30rpx;
      box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.1);
      margin-bottom: 32rpx;
      box-sizing: border-box;
      overflow: hidden;

      .attr-section {
        display: flex;
        padding: 32rpx;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;

        .attr-image{
          width: 160rpx;
          height: 160rpx;
          margin-right: 32rpx;
          flex: none;
        }

        .attr-icon{
          flex: none;
          width: 40rpx;
          height: 40rpx;
          margin-left: 8rpx;
          transition: all 1s ease-in-out;

          &.rotate {
            transform: rotate(-180deg);
          }
        }

        .attr-detail {
          color: white;
          .name {
            font-size: 36rpx;
            margin-bottom: 16rpx;
            font-weight: bold;
          }

          .description {
            font-size: 28rpx;
            opacity: 0.7;
          }
        }
      }

      .attr-image-box {
        white-space: nowrap;
        height: 0;
        overflow: hidden;
        box-sizing: border-box;
        transition: all 1s ease-in-out;

        &.show {
          height: 232rpx;
        }

        .detail-image {
          display: inline-block;
          width: 23%;
          height: 200rpx;
          margin-right: 16rpx;
          border-radius: 20rpx;
          box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.1);

          &:first-child {
            margin-left: 32rpx;
          } 

          &:last-child {
            margin-right: 32rpx;
          }
        }
      }

      .upload-image-btn {
        background-color: white;
        position: absolute;
        bottom: 16rpx;
        right: 16rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100rpx;
        padding: 8rpx;
        width: 60rpx;
        height: 60rpx;
        opacity: 0;
        overflow: hidden;
        box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.1);
        transition: all .5s ease-out;
        box-sizing: border-box;

        &.show {
          opacity: 1;
        }

        &.open {
          width: 250rpx;
          height: 250rpx;
          border-radius: 30rpx;

          .add-icon {
            width: 100rpx;
            height: 100rpx;
          }
        }

        .add-icon {
          width: 52rpx;
          height: 52rpx;
        }
      }
      &:nth-child(1) {
        background: linear-gradient(-45deg, #E6D7D6 0%, #A87B99 100%);
      }

      &:nth-child(2) {
        background: linear-gradient(-45deg, #BDD99A 0%, #4B7C99 100%);
      }

      &:nth-child(3) {
        background: linear-gradient(-45deg, #e76e56 0%, #825555 100%);
      }

      &:nth-child(4) {
        background: linear-gradient(-45deg, #F5A236 0%, #C72840 100%);
      }

      &:nth-child(5) {
        background: linear-gradient(-45deg, #A7B6CC 0%, #a7509b 100%);
      }

      &:nth-child(odd) {
        animation: showItemFromLeft ease 2s forwards;
      }

      &:nth-child(even) {
        animation: showItemFromRight ease 2s forwards;
      }
    }
  }

  @keyframes showItemFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes showItemFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}
